# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
bs-config.js

node_modules
.env
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tmp
.anima
pinegrow.json
.anima
.vscode
_pgbackup
_pginfo
Pinegrow
analisis de proyecto.xlsx
~$analisis de proyecto.xlsx
Ficha Cosmetológica Facial.docx
ficha facial cosmetologia.docx